<nav class="navbar navbar-expand-md navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="/admin/">Navbar</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Strona klienta<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/">Admin </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/orders">All Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/eventsSort">Events (sort)</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>-->
      </ul>

      <!--
      <form action="/user/" class="form-inline" method="post">
        <input name="key" class="form-control col-2 mr-sm-2" type="text" placeholder="Key">
        <input name="phone" class="form-control col-3 mr-sm-2" type="text" placeholder="T: (888888888)">

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Send</button>
      </form>
-->
    </div>
  </div>
</nav>