<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card my-1">
          <div class="card-block text-center">
            <h2>Podstawowa sesja</h2>
            <h3>600 PLN</h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">6h pracy</li>
            <li class="list-group-item">1 fotograf</li>
            <li class="list-group-item">Postawowa obróbka sesji</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ">
          <div class="bg-primary card-block">
            <h1 class="card-title text-white">Sesja ślubna</h1>
            <h2 class="text-white">1200 PLN</h2>
          </div>
          <ul class="list-group list-group-flush ">
            <li class="list-group-item">10h pracy</li>
            <li class="list-group-item">1 fotograf</li>
            <li class="list-group-item">zdjęcia z przygotowań pary młodej</li>
            <li class="list-group-item">zdjęcia z ceremonii ślubu</li>
            <li class="list-group-item">zdjęcia z przyjęcia weselnego</li>
            <li class="list-group-item">Podstawowa obróbka sesji</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my-1">
          <div class="card-block text-xs-center">
            <h2 class="card-title">Zdjęcia podczas eventu</h2>
            <h3 class="">1000 PLN</h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">6h pracy</li>
            <li class="list-group-item">2 fotografów</li>
            <li class="list-group-item">Podstawowa obróbka sesji</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>