<div class="py-5  section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-primary">Ślub</h1>
        <p class="lead">Każdy ślub to indywidualna historia. Dlatego warto zadbać o wyjątkowy reportaż !
          Nasza fotografia ślubna to kadry przepełnione kolorem, które ujmują ulotne chwile z każdego ślubu.
          Chcemy, abyście za kilka lat oglądali Wasze zdjęcia z uśmiechem na twarzy, dlatego z każdym Klientem omawiam szczegóły ślubu. To pozwala na dopasowanie oferty do Waszych potrzeb.
        </p>
      </div>
      <div class="col-md-6">
        <img src="http://bpic.ooopic.com/10/71/77/32b1OOOPIC15.jpg!/fw/780/quality/90/unsharp/true/compress/true" class="img-fluid img-thumbnail"> </div>
    </div>
  </div>
</div>
<div class="py-5 bg-primary text-center">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <a><i class="fa fa-5x fa-fw fa-facebook text-white"></i></a>
      </div>
      <div class="col-4">
        <a><i class="fa fa-5x fa-fw fa-twitter text-white"></i></a>
      </div>
      <div class="col-4">
        <a><i class="fa fa-5x fa-fw fa-instagram text-white"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="py-5  section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="http://www.naijaevents.com/wp-content/uploads/2013/11/event3.jpg" class="img-fluid img-thumbnail"> </div>
      <div class="col-md-6">
        <h1 class="text-primary">Eventy</h1>
        <p class="lead">Każdy materiał fotograficzny dostosowujemy do zapotrzebowań naszych wymagających klientów.
          Pracujemy w dzień, w nocy, w weekendy nic nie jest nam straszne.
          Stawimy czoła nawet najbardziej wymagającemu klientowi.</p>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row"> </div>
  </div>
</div>